/* PokerTable.css */
/* MainContent.css */
.poker-trainer-container-wrapper{

    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 0px;
    overflow: hidden;
}

.poker-trainer-container {
    display: flex;            /* Utiliza Flexbox para el layout horizontal */
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    /*justify-content: center;  Centra verticalmente */
    padding-top: 0px;            /* Añade espacio alrededor del contenedor para evitar que los elementos toquen los bordes externos */
    gap: 0px;                /* Añade un espacio entre cada columna */
    height: 100%;            /*  Ajusta la altura según sea necesario */
    width: 100%;
    padding-left: 250px;
    overflow: hidden;
}

.trainer-poker-table {
    position: relative;
    width: 850px;
    height:350px;
    background: transparent;/*#0E8E6C;*/
    border: 1px solid #f9f9f9;
    border-radius: 175px ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}

.trainer-poker-table-inner {
    position: relative;
    width: 800px;
    height:300px;
    background: transparent;/*#0E8E6C;*/
    border: 1px solid #f9f9f9;
    border-radius: 175px ;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* PokerTable.css - Añade estos estilos al archivo existente */

.trainer-table-center {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Asegúrate de que el selector se sitúe por encima de otros elementos */
}


.trainer-player-seat {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #213547;
    border-radius: 50%;
    border: 1px solid #f9f9f9;
    color:#f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suave transición para los cambios de color */
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.5); /* Sombra para darle volumen */
}


/* Ajustes específicos para la ubicación de los asientos en el modo 6-max */
.trainer-player-seat-0 { top: 50%; left: 0%; transform: translate(-50%, -50%);border: #747bff 2px solid;} /*SB*/
.trainer-player-seat-1 { top: -10%; left: 27%; transform: translate(-50%, -50%);border: #747bff 2px solid; } /*BB*/
.trainer-player-seat-2 { top: -10%; right: 27%; transform: translate(50%, -50%); } /*UTG*/
.trainer-player-seat-3 { top: 50%; right: 0%; transform: translate(50%, -50%); }/*MP*/
.trainer-player-seat-4 { bottom: -45%; right: 15%; transform: translate(-50%, -50%); }/*CO*/
.trainer-player-seat-5 { bottom: -45%; left: 15%; transform: translate(50%, -50%);  border: #ffdd55 2px solid;  }/*BU*/

/* Ajustes para la ubicación de los asientos adicionales en el modo 9-max */
.trainer-player-seat-6 { bottom: 70%; left: 25%; transform: translate(-50%, -50%); }/*MP2*/
.trainer-player-seat-7 { bottom: 70%; left: 50%; transform: translate(-50%, -50%); }/*MP3*/
.trainer-player-seat-8 { bottom: 70%; right: 25%; transform: translate(50%, -50%); }/*HJ*/

.trainer-seat-text {
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;
}

.trainer-legend {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trainer-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color:#fff;
}

.trainer-legend-color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 3px;
}

.trainer-board-cards-hero {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.trainer-controls-1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom:80px;
    border-radius: 3px;
    gap:10px;

    padding: 10px;
    width:50%;
}
.trainer-controls-2 {
    display: flex;            /* Utiliza Flexbox para el layout horizontal */
    flex-direction: row;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    margin-top: 100px;
    margin-bottom:0px;
    padding: 10px;
    gap:10px;
}

.trainer-controls-1 button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    cursor: pointer;

}

.trainer-controls-1 button:hover {
    background-color: #0056b3; /* Color de fondo al hacer hover */
}

.trainer-controls-2 button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    cursor: pointer;

}

.trainer-controls-2 button:hover {
    background-color: #039370; /* Color de fondo al hacer hover */
}

.trainer-controls-1 button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.trainer-controls-1 button:not(:disabled):hover {
    background-color: #039370;
}

.villainAction{
    color: white;
    font-weight: bold;
}
.heroAction{
    color: #00ECB3;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: #dc3545;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    text-align: center;
}

.modal-content {
    font-size: 16px;
    color: #333;
}

.trainer-responses {
    width: 300px;
    margin-left: 20px;
    padding: 10px;
    background-color: #000F18;
}

.trainer-responses h3 {
    margin-top: 0;
    color:white;
}

.trainer-responses h4 {
    margin-bottom: 5px;
    color: #00ECB3;
}

.trainer-responses p {
    margin: 5px 0;
    font-weight: bold;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #000F18, 0 0 10px #000F18, 0 0 15px #f9f9f9, 0 0 20px #f9f9f9, 0 0 25px #f9f9f9;
    }
    50% {
        box-shadow: 0 0 10px #000F18, 0 0 15px #000F18, 0 0 20px #f9f9f9, 0 0 25px #f9f9f9, 0 0 30px #f9f9f9;
    }
    100% {
        box-shadow: 0 0 5px #000F18, 0 0 10px #000F18, 0 0 15px #f9f9f9, 0 0 20px #f9f9f9, 0 0 25px #f9f9f9;
    }
}

/* PokerTrainer.css
.chips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.chip {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px;
} */

.chip img {
    width: 100%;
    height: auto;
}

.chips-container {
    width: 100%;
    position: relative;
    left:50%;
top:-35px;
}


.chip {
    width: 30px;
    height: 30px;
    position: absolute;
    animation: appear 0.5s ease-in-out;
    background-image: url("../../assets/chips.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo adicional para apilar las fichas */
.chip:nth-child(1) {
    top: 0;
    left: 0;
}
.chip:nth-child(2) {
    top: 5px; /* Ajusta estos valores según sea necesario */
    left: 5px;
}
.chip:nth-child(3) {
    top: 10px;
    left: 10px;
}
.chip:nth-child(3) {
    top: 15px;
    left: 15px;
}
.chip:nth-child(4) {
    top: 0px;
    left: 20px;
}
.chip:nth-child(5) {
    top: 5px;
    left: 25px;
}
.chip:nth-child(6) {
    top: 10px;
    left: 30px;
}
.chip:nth-child(7) {
    top: 0px;
    left: 35px;
}
.chip:nth-child(8) {
    top: 5px;
    left: 35px;
}
.chip:nth-child(9) {
    top: 10px;
    left: 35px;
}
.chip:nth-child(10) {
    top: 0;
    left: 0;
}
.chip:nth-child(11) {
    top: 5px; /* Ajusta estos valores según sea necesario */
    left: 5px;
}
.chip:nth-child(12) {
    top: 10px;
    left: 10px;
}
.chip:nth-child(13) {
    top: 15px;
    left: 15px;
}
.chip:nth-child(14) {
    top: 0px;
    left: 20px;
}
.chip:nth-child(15) {
    top: 5px;
    left: 25px;
}
.chip:nth-child(16) {
    top: 10px;
    left: 30px;
}
.chip:nth-child(17) {
    top: 0px;
    left: 35px;
}
.chip:nth-child(18) {
    top: 5px;
    left: 35px;
}
.chip:nth-child(19) {
    top: 10px;
    left: 35px;
}
/* Continúa agregando estilos para más fichas si es necesario */




@keyframes appear {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}